# JWT secret in the environment to use authentication. Run `chainlit create-secret` to generate one.
# CHAINLIT_AUTH_SECRET=""
# For Chainlit SQLAlchemy Data Layer
CHAINLIT_CONNINFO=postgres+asyncpg://app:example@localhost:5432/app_db
OPENAI_API_KEY=your_openai_api_key_here
